@using clienteMVC.DTOs
@{
    ViewBag.Title = "Equipos que superan monto";
}

<h2>Equipos:</h2>

@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger w-50">
        @ViewBag.Error
    </div>
}

<form method="post">
    <label>Ingrese monto:</label>
    <input type="number" name="monto" class="form-control w-50" required />

    <br />
    <button type="submit" class="btn w-50 btn-primary">Buscar</button>
</form>

@if (ViewBag.Resultados != null)
{
    IEnumerable<EquipoDTO> lista = ViewBag.Resultados as IEnumerable<EquipoDTO>;

    if (!lista.Any())
    {
        <p class="text-warning">No hay equipos que superen el monto dado.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.Id</td>
                       <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}